/*Colores*/

$bgwhite:white;
$whiteleters: #fff;
$blackleters: black;
$animLetersbg:#555;
$animleterscolor:#ffea00;

/*Fuentes*/
$font-Default:'Times New Roman', Times, serif;
$font-Secondary: Arial, Helvetica, sans-serif;



