body{ 
    min-height: 100vh;
    overflow-x: hidden;
    background-image:url(../imagenes/solid-concrete-wall-textured-backdrop.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 2;
   
  
  }
  
  .logoID{ 
      height: 80px;
      width: 80px;
  }
  
  
  .nav-link:hover{
    color: rgb(238, 192, 41) !important;
  }
  .navbar-brand:hover{
    color: rgb(29, 131, 88) !important;
  }
      
  
  *{ 
    font-family: Arial, Helvetica, sans-serif;
  
  }
  
  .section-padding{
    padding: 70px 0;
  }
  
  .carousel-item{ 
    width: 100%;
    height: 80vh;
    min-height: 300px;
    border-radius: 5px;
    border: solid 5px black;
  }
  
  
  .carousel-caption h5{
    
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: solid;
    color:#000000 ;
    text-shadow: 0 0 5px #141414,
    0 0 25px #969191,
    0 0 50px #969191,
    0 0 100px #000000;
   }
  
  .carousel-caption p{ 
    width: 70%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:#f8f2f2 ;
    text-shadow: 0 0 5px #141414,
    0 0 25px #111111,
    0 0 50px #111111,
    0 0 100px #f1efef;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1sg;
    
   
  
  }
  .carousel img {
    box-shadow:5px 5px 5px 5px rgba(0,0,0,0.2) ;
    backdrop-filter: blur(20px);
    opacity: 0.9;
    border-top: 1px solid rgba(3, 3, 3, 0.2);

    
    
  
  
  }
  
  .carousel-innier::before{

  
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 30, 82, 0.327);
    z-index: 1;
  
  
  
  }
  .carousel-control{ 
    margin-top: 35px;
    
  
  
  
  }
  .videoClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 100%;
    margin: auto;
    position:relative;
    z-index: 2; 
    color: black;
  
  
  }
  
  #videoBack{ 
    min-height: 100vh;
    position: relative;
  }
  
  video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color:1c1c1d;
    opacity: 1,5;
    mix-blend-mode: overlay;
  
  }
  .videoMain{ 
    opacity: 0.9;
    
  }
  .videoText{
   margin-top: 8%;
   font-size: 2.5rem;
   font-weight: 900;
   font-family: 'Times New Roman', Times, serif;
   color:#000000 ;
   text-shadow: 2px 1px 1px 1px;
   text-align: center;
   cursor: pointer;
   text-transform: uppercase;
   transition: 1sg;
  }
  #pt1{
    margin-top: 5%;
  
  
  }
  .videoText:hover{
    color:#fff;
    text-shadow: 0 0 5px #f4c803,
    0 0 25px #f4c803,
    0 0 50px #f4c803,
    0 0 100px #f4c803;
  
  
  }
  .buttonV{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    margin-top: 25px;
    padding-top: 9px;
    width: 145px;
    height: 40px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fefffe;
    background-size: 300%;
    background-image: linear-gradient(to right, #000000,#ac9136,#ac9136,#000000);
    transition: all .5s;
     box-shadow: 1px 1px 1px black ;
  
    }
    .buttonV:hover{
      background-position: 100%;
    
    }

  .card{
    align-items:center ;
    margin-left: 40px;
    margin-right: 15px;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 0.1px;
    overflow-x: hidden;
    box-sizing: border-box;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s ease;
    cursor: pointer;
   
  
    
  
  }
 
  .card p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    





  }
  .CWH{
    width: 350px;
    height: 600px;
  }
  
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  
  #formContacto{
    width: 75%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 40px 50px;
    box-shadow:0 0 10px rgba(0,0,0,0.2) ;
    backdrop-filter: blur(20px);
    background-color: transparent;
    border: 2px solid rgba( 255, 255, 255,0.2);
    border-radius: 10px;
    
    
  }

  .textContactos{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: larger;
   text-align: center;
   text-shadow: 1px 1px 1px 1px color#000000;
  }
  

  #fondoContact{
    background-image:url(../imagenes/pexels-tamanna-rumee-52377920-7984845.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 2;
  
  
  }
  
  .container2 {
      display:grid;
      grid-template-columns: repeat(2,50%);
      padding:20px;
      gap:10px;
      width: 1000px;

  }
  
  .box-info2 {
      color:#fff;
      display:flex;
      flex-direction: column;
      gap:50px;
  }
  
  .box-info2 > h1 {
      text-align: left;
      letter-spacing: 5px;
  }
  
  .data2 {
      display: flex;
      flex-direction: column;
      gap:25px
  }
  
  .data2 > p {
      font-size: 1rem;
  }
  
  .data2 > p > i {
      color:crimson;
      margin-right: 10px;
      font-size:25px;
  }
  
  
  .form2 {
      display:flex;
      flex-direction: column;
      text-align: center;
      gap:15px;
  }
  
  .input-box2 {
      position:relative;
  }
  
  .input-box2 > input {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      outline:none;
      background: rgba(255 255 255 / .1);
      border:3px solid transparent;
      letter-spacing: 1px;
      transition:.3s;
      color:#fff;
      
  }
  
  .input-box2 > input::placeholder,
  .input-box2 > textarea::placeholder {
      color:#a3a3a3;
      
  }
  
  .input-box2 > input:focus::placeholder,
  .input-box2 > textarea:focus::placeholder {
      color:transparent;
  }
  
  .input-box2 > input:focus,
  .input-box2 > textarea:focus {
      border-bottom:3px solid rgb(220, 190, 20);
      animation: shake .2s;
  }
  
  .input-box2 > textarea {
      width: 100%;
      height: 130px;
      padding: 10px;
      background: rgba(255 255 255 / .1);
      border:3px solid transparent;
      letter-spacing: 1px;
      outline: none;
      transition:.3s;
      color:#fff;
      letter-spacing: 1.5px;
  }
  
  
  .input-box2 > i {
      position:absolute;
      top:50%;
      transform: translateY(-50%);
      right: 10px;
      color:rgba(255 255 255 / .3);
      transition: .3s;
  }
  
  .input-box2 > input:focus ~ i {
      color:rgb(220, 190, 20);
  }
  
  .form2 > button {
      width: 100%;
      padding: 10px;
      outline: none;
      background: rgb(219, 148, 17);
      color:#fff;
      border:none;
      transition: .1s;
      cursor: pointer;
      font-size: 1rem;
  }
  
  .form2 > button:hover,
  .links > a:hover {
      background-color: rgba(110, 110, 110, 0.795);
  }
  
  #agendaSelect{
    background-color:rgba(255 255 255 / .1) ;
    color: #fff;
    text-align: center;
  
    
  
  
  }
  .optionClass{
    text-align: center;
    color: #000000;
  
  
  }
  
  
  .TituloeRef{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 100%;
    margin: auto;
    margin-top:6%;
    position:relative;
    text-align: center;
    
   
  
  }
  .TituloeRef ul{
    position: absolute;
    margin-top: 45px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
  }
  .TituloeRef ul li{
    list-style: none;
    font-weight: 500;
    font-size: 6vw;
    letter-spacing: 2.5vw;
    color: #555;
    text-shadow: none;
    animation: anim 1s infinite linear;
  
  
  
  }
  
  @keyframes anim {
    0%{
      color: #555;
      text-shadow: none;
  
  
    }
  18%{
    color: #555;
    text-shadow: none;
  
  }
  20%{
    color: #ffea00;
    text-shadow: 0 0 1vw #ffea00,
    0 0 3vw #f44336;
  
  }
  30%{
    color: #555;
    text-shadow: none;
  
  }
  35%{
    color: #ffea00;
    text-shadow: 0 0 1vw #ffea00,
    0 0 3vw #f44336;
  
  
  }
  70%{
    color: #555;
    text-shadow: none;
  
  }
  85%{
    color: #ffea00;
    text-shadow: 0 0 1vw #ffea00,
    0 0 3vw #f44336;
  
  
  }
  90%{
    color: #555;
    text-shadow: none;
  
  }
  100%{
    color: #555;
    text-shadow: none;
  
  }
  }
  
  
  .TituloeRef ul li:nth-child(1) {
    animation-delay: .2s;
  }
  .TituloeRef ul li:nth-child(2) {
    animation-delay: .4s;
  }.TituloeRef ul li:nth-child(3) {
    animation-delay: .6s;
  }.TituloeRef ul li:nth-child(4) {
    animation-delay: .8s;
  }.TituloeRef ul li:nth-child(5) {
    animation-delay: 1s;
  }
  .TituloeRef ul li:nth-child(6) {
    animation-delay: 1.2s;
  }.TituloeRef ul li:nth-child(7) {
    animation-delay: 1.4s;
  }.TituloeRef ul li:nth-child(8) {
    animation-delay: 1.6s;
  }
  

  .Referencias{
    padding: 35px;
    margin-top: 1%;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-gap: 1rem;
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    
  }
  .Referencias .cajaref-container .cajaref1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding: 2rem 2rem;
    box-shadow:0 0 10px rgba(0,0,0,0.2) ;
    backdrop-filter: blur(7px);
    background-color: transparent;
    border: 2px solid rgba( 255, 255, 255,0.2);
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
    width: 570px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;
     
    
    
  }
  
  
  .Referencias .cajaref-container .cajaref1 p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #fcfcfc;
    padding: 2rem 2rem;  
  }
  
  .Referencias .cajaref-container .cajaref1 .UsuarioRef{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
  
  }
  
  .Referencias .cajaref-container .cajaref1 h3{
    padding: 1rem 1rem;
    font-size: 2rem;
    color: #fff;
  
  }
  
  .Referencias .cajaref-container .cajaref1 i{
    padding: 1rem 1rem;
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    
  
  
  }
  .cajaref-container .imgref{
    align-items: center;
    width: 80px;
    height: 80px;
   
   
  }

  @keyframes show {
    from{
      opacity: 0;
      scale: 25%;
    }
    
    to{ 
      opacity: 1;
      scale: 100%;
  
    }
  
  }
  
  .cajaref1 {
    view-timeline-name: --image;
    view-timeline-axis: block;
    
    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
  
  }

  /*Servicios */

  .ContenedorServicos{
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: auto;
  
    

  }

  .servMain{
    margin-top: 8%;
    
  }
  .CWH2{
    width: 280px;
    height: 460px;
    justify-content: center;
    align-items: center;


  }


  
  .SERV{
    background-image: url(../imagenes/pexels-enginakyurt-3356170.jpg);
  }
  .card2{
    margin-left: 18%;
    justify-content: center;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 0.1px;
    overflow-x: hidden;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s ease;
    cursor: pointer;
   
  
  }
  .card2:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

  #h2serv{
    font-size: 25px ;
    text-align: center;
    text-shadow: 1px 1px 1px;
    text-transform: uppercase;
  
  
  }

  
   .TituloeServ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 100vw;
    margin: auto;
    margin-top:6%;
    position:relative;
    text-align: center;
    color: #fff;
    
  
  }
  .TituloeServ ul{
    position: absolute;
    margin-top: 5px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
  }
  .TituloeServ ul li{
    list-style: none;
    font-weight: 500;
    font-size: 5vw;
    letter-spacing: 2.5vw;
    color: #555;
    text-shadow: none;
    animation: anim 1s infinite linear;
  
  
  
  }
  
  @keyframes anim {
    0%{
      color: #555;
      text-shadow: none;
  
  
    }
  18%{
    color: #555;
    text-shadow: none;
  
  }
  20%{
    color: #ffea00;
    text-shadow: 0 0 1vw #ffea00,
    0 0 3vw #f44336;
  
  }
  30%{
    color: #555;
    text-shadow: none;
  
  }
  35%{
    color: #ffea00;
    text-shadow: 0 0 1vw #ffea00,
    0 0 3vw #f44336;
  
  
  }
  70%{
    color: #555;
    text-shadow: none;
  
  }
  85%{
    color: #ffea00;
    text-shadow: 0 0 1vw #ffea00,
    0 0 3vw #f44336;
  
  
  }
  90%{
    color: #555;
    text-shadow: none;
  
  }
  100%{
    color: #555;
    text-shadow: none;
  
  }
  }
  
  
  .TituloeServ ul li:nth-child(1) {
    animation-delay: .2s;
  }
  .TituloeServ ul li:nth-child(2) {
    animation-delay: .4s;
  }
  .TituloeServ ul li:nth-child(3) {
    animation-delay: .6s;
  }
  .TituloeServ ul li:nth-child(4) {
    animation-delay: .8s;
  }
  .TituloeServ ul li:nth-child(5) {
    animation-delay: 1s;
  }
  .TituloeServ ul li:nth-child(6) {
    animation-delay: 1.2s;
  }
  .TituloeServ ul li:nth-child(7) {
    animation-delay: 1.4s;
  }
  .TituloeServ ul li:nth-child(8) {
    animation-delay: 1.6s;
  }
  .TituloeServ ul li:nth-child(9) {
    animation-delay: 1.8s;
  }
  
  .services{
    margin-top: 8%;
    margin-bottom: 6%;
  
  
  }
  
  .adsSlider{
    
    width: 100vw;
    height: auto;
    overflow-x: hidden;
  
    
  

  }
  .adsSlider .adsSlider-track{
    display: flex;
    -webkit-animation:scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    width: calc(200px * 14);


  }
  .adsSlider .adsSlide{
    width: 200px;


  }
  .adsSlider .adsSlide img{ 
    width: 100%;
  }

  @keyframes scroll {
    0%{
      -webkit-transform:translateX(0);
      transform:translateX(0);
      
    }
    100%{ 
      -webkit-transform:translateX(calc(-200px * 7)) ;
      transform:translateX(calc(-200px * 7))
      
    }
  }
  .adsContainer img{
    height: 80px;
    opacity: 0.6;
   

  }
  .adsContainerIndx img{
    opacity: 0.4;
    border: 1px solid rgb(7, 7, 7);
  }

  /* Responsive agenda*/
  @media screen and (max-width: 992px){
    .container2{
      display:grid;
      grid-template-columns:repeat(1,100%);
      
      justify-content: center;
      align-items: center;
      height: auto;
      width: 80%;
      margin: auto;
      margin-bottom: 35px;
      

    }
    .box-info2{
      width: 100%;
      align-items: center;
      text-align: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 25px;



    }
  }
    @media screen and (max-width: 490px){
      .container2{
        display:grid;
        grid-template-columns:repeat(1,100%);
        
        justify-content: center;
        align-items: center;
        height: auto;
        width: 80%;
        margin: auto;
        margin-bottom: 35px;
        
  
      }
      .box-info2{
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 25px;
        font-size: 14px;
  
  
  
      }
      .box-info2 h1{
        text-align: center;
        




      }
      

  }
  /* Responsive Referencias*/
  @media screen and (max-width: 992px){
    .body{
      overflow-x: hidden;


    }
    .Referencias{
      display: grid;
      grid-template-columns: repeat(1,600px);
      grid-gap: 1rem;
      justify-items: center;
      justify-content: center;
      text-align: center;
      margin: auto;
      height: auto;
      
    }
    .cajaref1{
      width: auto;


    }
    
    .TituloeRef{
      display: grid;
      grid-template-columns: repeat(1,100%);
      text-align: center;
      color: #fff;
      
    }
    @keyframes show {
      from{
        opacity: 0;
        scale: 25%;
      }
      
      to{ 
        opacity: 1;
        scale: 80%;
    
      }
    
    }
    
    .cajaref1 {
      view-timeline-name: --image;
      view-timeline-axis: block;
      
      animation-timeline: --image;
      animation-name: show;
  
      animation-range: entry 25% cover 50%;
      animation-fill-mode: both;
    
    }



  }
  @media screen and (max-width:576px){
    .body{
      overflow-x: hidden;
      


    }
    .Referencias{
      display: grid;
      grid-template-columns: repeat(1,600px);
      grid-gap: 1rem;
      justify-items: center;
      justify-content: center;
      text-align: center;
      margin: auto;
      height: auto;
      
    }
    .cajaref1{
      width: 15%;
      height: auto;


    }
    @keyframes show {
      from{
        opacity: 0;
        scale: 15%;
      }
      
      to{ 
        opacity: 1;
        scale: 80%;
    
      }
    
    }
    
    .cajaref1 {
      view-timeline-name: --image;
      view-timeline-axis: block;
      
      animation-timeline: --image;
      animation-name: show;
  
      animation-range: entry 25% cover 50%;
      animation-fill-mode: both;
    
    }

  }

   /* Responsive Services*/

   @media screen and (max-width: 992px){
    .CWH2{
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 5%;
      width: 60%;
      height: 40%;
      margin-top: 8%;

      
    }
    .servMains{
      align-items: center;
      justify-content: center;
      


    }
    .col2{
      margin-bottom: 8%;


    }
    .card-body h5{ 
      font-size:35px;
      margin-bottom: 3%;
    }
    .card-body{ 
      font-size:25px;
      height: min-content;
    }
    .TituloeServ ul li{
      margin-top: 8%;
      list-style: none;
      font-weight: 500;
      font-size: 9vw;
      letter-spacing: 2.5vw;
  }
    .btonServ a{
      font-size: 27px;
      align-items: center;
      margin-bottom: 2%;
      
    
    }
  }
   